@import "macchiato.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome ;
  color: @text;
  font-size: 15px;
}

window#waybar {
  background-color: @bgd;
  border-bottom: 3px solid transparent;
  color: @white;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 20px;

}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
background-color: transparent;
}
window#waybar.solo {
background-color: @white;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @white;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: @yellow;
}

#workspaces  {
  background-color: @bgd;
  margin: 4px 0;
}


#workspaces button {
  padding: 0 7px;
  background-color: @secondary;
}

#workspaces button.empty {
  background-color: transparent;
}

#workspaces button:hover {
  background-color: @primary;
}

#workspaces button.focused {
  background-color: @red;
  box-shadow: inset 0 -3px @white;

}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button.active {
  background-color: @primary;
  font-weight: bold;
  box-shadow: inset 0 -3px @blue;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px @white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-nv_temp,
#custom-gmail,
#mpd {
  padding: 0 10px;
  color: @white;
  border-radius: 26px;
  margin-right:5px;
  margin-bottom:2px;
  margin-top: 2px;
  background-color: @primary;
  border: 2px solid @border;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}


#battery.charging, #battery.plugged {
  background-color: @primary;
}

@keyframes blink {
to {
  background-color: @white;
  color: #000000;
}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @red;
  color: @white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: @white;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: @white;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

label:focus {
  background-color: #000000;
}


#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}


#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}


#temperature.critical {
  background-color: #eb4d4b;
}


#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

